<header>
  <div class="header-w">
    <div>
      <a class="title-header" href="/"> HelloCards </a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Create card</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a class="login-css" href="/signin">Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
