<div class="w-max">
  <div class="grid-2">
    <div class="g-1">
      <h1>Explore and Share Custom Cards</h1>
      <p>Create your own cards and discover others' creations!</p>
    </div>
    <div class="g-2">
      <h2>Discover.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat qui
        cumque, repudiandae excepturi blanditiis iure. Dolorum amet incidunt
        odit repellendus officiis in, est pariatur sed culpa deserunt animi
        itaque esse?
      </p>
    </div>
    <div class="g-3">pdas</div>
  </div>
</div>
