<div class="w-enter">
  <div>
    <div>
      <h4 class="text-enter">
        Unlock the Full Experience: Sign in to Create and Discover Amazing
        Cards!
      </h4>
    </div>
    <div class="form-css">
      <form action="/signin" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Your email" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password" />
        <button class="b-enter">Sign in</button>
      </form>
    </div>
  </div>
</div>
