<div class="w-enter">
  <div>
    <div>
      <h4 class="text-enter">
        Unlock the Full Experience: Sign up to Create and Discover Amazing
        Cards!
      </h4>
    </div>
    <div class="form-css">
      <form action="/signup" method="post">
        <label for="name"> Name </label>
        <input type="text" name="name" placeholder="Ex: Felipe" />
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Ex: felipe@gmail.com" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="A password" />
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm your password"
        />
        <button class="b-enter">Sign up</button>
      </form>
    </div>
  </div>
</div>
